<!-- <p>form-registrer works!</p> -->
<mat-card-content>
  <form [formGroup]="formLogin" class="form__content">
    <div class="titulo__form">
      <label *ngIf="isRegister; else elseBlock">Cadastra-se</label>
      <ng-template #elseBlock>
        <label>Entre no Orange Portfólio</label>
      </ng-template>
    </div>

    <div
      *ngIf="!isRegister" style="color: #818388; text-align: center; padding: 0"
    >
      <div>
        <button mat-raised-button class="google__button__conteiner">
          <div class="google__button">
            <img src="../../../assets/google_logo_button.png" alt="" />
            Entrar com o Google
          </div>
        </button>
      </div>
    </div>
    <div class="label__faca__login" *ngIf="!isRegister">
      <label>Faça login com email</label>
    </div>
    <div *ngIf="isRegister" class="nome__container">
      <mat-form-field appearance="outline" class="field__name">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Digite seu nome" formControlName="first_name" />
      <mat-error style="font-size: 10px;margin-bottom: 6px;" *ngIf="formLogin.get('first_name')?.invalid">
      {{ getErrorMessageNomeSobreNome('first_name') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field__name">
        <mat-label>Sobrenome</mat-label>
        <input matInput placeholder="Digite seu sobrenome" formControlName="surname" />
      <mat-error style="font-size: 10px;margin-bottom: 6px;"  *ngIf="formLogin.get('surname')?.invalid">
      {{ getErrorMessageNomeSobreNome('surname') }}</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="field__login">
      <mat-label>E-mail</mat-label>
        <input (change)="printEmail()"
          matInput placeholder="Digite seu email" formControlName="email" />
      <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="formLogin.get('email')?.invalid">{{
          getErrorMessageEmail()
        }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field__login">
      <mat-label>Senha</mat-label>
      <input matInput (focus)="focoSenha(true)"
        type="{{ hide ? 'password' : 'text' }}"
        placeholder="Digite sua senha"
        formControlName="password"
        required
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>
    </mat-form-field>
    <mat-card-footer class="buttonContainer">
      <button
        mat-raised-button
        class="buttonStyle"
        color="warn"
        (click)="fazAcaoCadastro()"
      >
        {{ isRegister ? "CADASTRAR" : "ENTRAR" }}
      </button>

      <button *ngIf="!isRegister" class="cadastre__se">
        <div
          (click)="habilitaRegistro()"
          style="color: #818388; font-size: 16px"
        >
          Cadastre-se
        </div>
      </button>
    </mat-card-footer>

    <div *ngIf="focoNaSenha" class="errors__container">
      <mat-error *ngIf="formLogin.get('password')?.invalid">{{
        getErrorPassword()
      }}</mat-error>
      <mat-error
        *ngIf="aoMenosMinuscula.exec(formLogin.get('password')?.value) === null"
        >* Senha deve ter ao menos uma letra minúscula</mat-error
      >
      <mat-error
        *ngIf="
          aoMenosumaMaiuscula.exec(formLogin.get('password')?.value) === null
        "
        >* Senha deve ter ao menos uma letra maiúscula</mat-error
      >
      <mat-error
        *ngIf="aoMenosUmDigito.exec(formLogin.get('password')?.value) === null"
        >* Senha deve ter ao menos um dígito numérico</mat-error
      >
      <mat-error
        *ngIf="
          aoMenosUmCaracterEspecial.exec(formLogin.get('password')?.value) ===
          null
        "
        >* Senha Deve ter ao menos um caracter especial</mat-error
      >
      <mat-error
        *ngIf="
          aoMenos8caracteres.exec(formLogin.get('password')?.value) === null
        "
        >* Senha deve ter mínimo 8 caracteres</mat-error
      >
    </div>
  </form>
</mat-card-content>
